/* =======================
/*    color variables     
/* =======================

$c1: #ffec1e
$c2: #71ff9a
$c3: #0088d2
$c4: #6f0062
$gradient: linear-gradient(45deg, #16002d, #35002f)
$gradient-white: linear-gradient(45deg, rgba(247, 255, 254, 0.95),rgba(242, 242, 242, 0.9))

/* =======================
/*   overlay variables     
/* =======================

$ol1: rgba(0,0,0,0.6)
