/* =======================
/*    color variables     
/* =======================

$c1: #35002f
$c2: #16002d
$c3: #0088d2
$c4: #6f0062
$gradient: linear-gradient(45deg, $c2, $c1)
$gradient-white: linear-gradient(45deg, rgba(247, 255, 254, 0.95),rgba(242, 242, 242, 0.9))

/* =======================
/*   overlay variables     
/* =======================

$ol1: rgba(0,0,0,0.6)
