transition(name='fade')
  .modal(v-if='$store.state.modalData')
    .modal__overlay(@click='closeModal()')
    .modal__container
      .modal__close(@click='closeModal()') close
      .modal__wrapper
        .modal__comp(ref='comp')
          img.modal__comp-image(:src='$store.state.modalData.image_src', :alt='$store.state.modalData.image_alt' crossOrigin="Anonymous")
          .modal__comp-overlay(:style='{ background: $store.state.modalData.color }')
          .modal__comp-text(v-html='$store.state.modalData.message')
